<script type="text/javascript">

	String.prototype.splice = function( idx, s ) {
    return (this.slice(0,idx) + s + this.slice(idx + 1));
	};

	$(document).on('ready', function() {
		var main = $('main');

		function getQuote() {
			$.ajax({
				type: 'get',
				dataType: 'json',
				url: '/api/json',
				success: function(data) {
					//Prevent orphans
					var lastSpace = data.lastIndexOf(' ');
					data = data.splice(lastSpace, '&nbsp;');

					$(main).html($('<p class="quote">' + data + '</p>'));
				}

			});			
		}

		getQuote();

		$('body').on('click', function() {
			getQuote()
		});
		
	});

</script>