<!DOCTYPE html>
<html>
<head>
	<title>Random Einstein Quotes</title>
</head>
<link rel="stylesheet" type="text/css" href="/style/style.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/scripts/jquery-2.1.4.min.js"></script>
<body>
	<header class="site-header">
		<h1>Random Einstein Quotes</h1>
		<em>Click for more.</em>
	</header>

	<main class="site-main">
		<%= yield %>	
	</main>

</body>
</html>